<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
      <a class="forgot-password" (click)="forgotPassword()">¿Has olvidado tu contraseña?</a>
      <ion-button expand="full" fill="clear" routerLink="/registro">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
