.cita-card {
    --background: #e0f7fa;
    margin-bottom: 20px;
  }
  
  .medicamento-card {
    --background: #ffebee;
    margin-bottom: 20px;
  }
  
  .card-type {
    color: grey;
    font-size: 0.8em;
  }
  
  ion-card-title {
    font-size: 1.2em;
  }
  
  ion-card-subtitle {
    font-size: 0.9em;
    color: grey;
  }
  
  ion-card-content p {
    margin: 0;
  }
  