<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrarse</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input type="number" [(ngModel)]="edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Género</ion-label>
        <ion-select [(ngModel)]="genero">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" (click)="register()">Registrarse</ion-button>
      <p class="login-link" (click)="login()">¿Ya tienes una cuenta? Inicia sesión <a>aquí</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>
